<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>푸터</title>
    <style>
        .footer-layout {
            position: absolute;
            top: 1200px;
            left: 600px;
            width: 1200px;
            height: 150px;
            background-color: black;
        }

        .company-frame {
            position: absolute;
            left: 100px;
        }

        #biz-info {
            color: #f2e8e8;
        }

        #footer-menu {
            color: #f2e8e8;
            font-weight: bold;
        }

        #footer-menu a {
            text-decoration: none;
            color: #f2e8e8;
            font-size: 14px;
        }

        .footer-info_p {
            color: rgb(99, 89, 89);

        }

        .cs-frame {
            position: absolute;
            top: 10px;
            left: 900px;
            color: #f2e8e8;
        }

        .cs-inner_p {
            font-size: 17px;
        }

        .number {
            font-size: 22px;
            color: rgb(29, 219, 22);
        }




    </style>



</head>

<body>
<div class="footer-layout">
    <div class="company-frame">
        <br>
        <div id="footer-menu"><a href="..//project1/p1_needs_info_main_comItro.html">회사소개&nbsp&nbsp&nbsp|</a>
            <a href="..//project1/p1_needs_info_personal_info.html">개인정보취급방침&nbsp&nbsp|</a>
            <a href="..//project1/p1_needs_info_service_policy.html">이용약관&nbsp&nbsp&nbsp|</a>
            <a href="..//project1/p1_customer_main_notice.html">고객센터</a>
            <span class="footer-info_p"><a href="#"><span id="com_admin">re북중고서적</span></a>. All rights reserved</span>
        </div>

        <div class="footer-info">
            <span id="biz-info">[사업자정보]</span>
            <span class="footer-info_p">팀구성 : 서민규(장) 박주형 이상필 | 개인정보 보호책임자 : 서민규
                    <br> 대표전화 : 1234-5678 | 사업자등록번호 : 123-45-56789 | Email : ygidonga@naver.com
                    <br> 통신판매업 신고번호 : 제 2024-부산진구-0001호 | 주소 : 부산광역시 부산진구 선문빌딩 9층</span>

        </div>
    </div>

    <div class="cs-frame">
        <span class="cs-inner_p">고객만족센터</span><br>
        <span class="number">1544-2949</span><br>
        <span class="cs-inner_p">상담시간</span><br>
        <span class="number">오전 9시 - 오후 6시</span>

    </div>
</div>



</body>

</html>