<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .admin_header {
            position: absolute;
            left: 600px;

        }

        #admin_header_img_1 {
            position: absolute;
            top: 100px;
        }

        #admin_header_img_2 {
            position: absolute;
            top: 100px;
            left: 1200px;
        }


        .admin_header_1 {
            position: absolute;
            top: 0;
            width: 1600px;
            height: 190px;
            background-color:rgb(148, 90, 49);
            color: white;
            font-size: 100px;
            text-align: center;
            padding: 30px;
        }
    </style>
</head>

<body>
<div class="admin_header">
<!--    <img src="/adminImg/pexels-ivo-rainha-527110-1290141.jpg" width="350px" height="250px" id="admin_header_img_1">-->
    <p class="admin_header_1">관리자 페이지</p>
<!--    <img src="/adminImg/pexels-ivo-rainha-527110-1290141.jpg" width="350px" height="250px" id="admin_header_img_2">-->
</div>
</body>

</html>