<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고객만족센터 묻고 답하기</title>
    <style>
        body {
     background-color: white;
   }

       #cust_svc_1 {
           position: absolute;
           top: 240px;
           left: 300px;
       }

       a {
           text-decoration: none;
           color: black;


       }

       #cust_svc_2 {
           position: absolute;
           top: 300px;
           left: 300px;
       }

       #cust_svc_2_p {
           width: 160px;
           height: 100px;
           border-bottom: 1px solid  rgb(0, 128, 255);
           background-color:  rgb(0, 128, 255);
       }

       #cust_svc_2_p p {
           font-size: 20px;
           text-align: center;
           color: white;

       }

       .cust_svc_2_1 {
           width: 160px;
           height: 40px;
           border-bottom: 1px solid  rgb(0, 128, 255);
           padding: 20px 0 0 0;
       }

       .cust_svc_faq {
           position: absolute;
           top: 330px;
           left: 520px;
           border-top: 1px solid  rgb(0, 128, 255);
       }

       .cust_svc_faq_detail_1 {
           width: 600px;
           padding: 10px;
           border-bottom: 1px solid  rgb(0, 128, 255);
       }


    </style>
</head>

<body>

<div id="cust_svc_1">
    <a href="#">홈</a> >
    <a href="/customerCenter">고객만족센터</a> >
    <a href="#">묻고 답하기</a>
</div>

<div id="cust_svc_2">
    <div id="cust_svc_2_p">
        <br>
        <p>고객만족센터</p>
    </div>
    <div class="cust_svc_2_1">
        <a href="/customerCenter">공지사항</a>
    </div>
    <div class="cust_svc_2_1">
        <a href="#">묻고 답하기</a>
    </div>
    <div class="cust_svc_2_1">
        <a href="..//project1/p1_customer_faq.html">FAQ</a>
    </div>
    <div class="cust_svc_2_1">
        <a href="#">1:1문의</a></p>
    </div>
</div>

<div class="cust_svc_askanswer">




</div>


</body>

</html>
</html>