<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>매입신청도서 정보수정</title>
    <style>
        /* 왼쪽 메뉴 */


        /* 메인 */
        .purchase_container {
          position: absolute;
          top: 240px;
          left: 600px;
        }

        a {
          text-decoration: none;
        }

        .purchase_img_div img {
          width: 900px;
          height: 600px;
          border-radius: 10px;

        }

        #purchase_btn3 {
          position: absolute;
          left: 300px;
          width: 200px;
          height: 100px;
          background-color: blue;
          border: 0;
          font-size: 30px;
          color: white;
        }

        #purchase_title {
          width: 400px;
        }

        #purchase_writer {
          width: 400px;
        }

        #purchase_publiser {
          width: 400px;
        }


        /* 사진 업로드 */
        /* 앞표지 이미지 */
        li {
          list-style: none;
        }

        img {
          width: 100px;
          height: 100px;
        }


        .purchase_img_view {
          width: 100px;
          height: 100px;
          background-color: rgb(243, 240, 236);
          display: flex;
          gap: 20px;
        }
    </style>
</head>

<body>
<div class="purchase_container">
    <form action="/purchase/update" method="post">
        <div class="purchase_img_div">
            <img src="..//project1/images/old_books.jpg">
        </div>

        <div class="purchase_process">
            <h1> 도서 매입 신청 </h1>
            <p> 도서 매입 신청은 아래와 같은 절차로 진행됩니다.</p>
            <p> 1. 아래와 같이 책의 사진을 찍어서 각각 1장씩 올려주십시오.</p>
            <p> : 앞표지, 뒷표지, 책등, 책 가운데 </p>
            <p> 2. 책상태를 설명해주십시오. 책상태에 대한 설명은 링크된 품질등급선정기준을 참고하시면 됩니다.</p>
            <button class="book_detail_s_btn"><a href="..//project1/p1_needs_info_book_grade.html">품질등급기준</a></button>
            <p> 3. 올려주신 사진과 책상태 설명을 참고하여 책구매 여부를 결정하고 가격을 조정합니다.</p>
            <p> 4. 조정된 가격으로 책구매가 결정되면 RE북에서 보내드린 주소로 책을 보내시면 됩니다.</p>
            <P> 5. 책을 보내신 후에는 송장사진을 찍어서 올려주십시오.</P>
            <P> 6. 보내주신 책이 올려주신 정보와 같다면 책값을 보내드립니다.</P>
        </div>
        {{#purchaseItem}}
            <input name="id" value={{id}} type="hidden">
            <div class="purchase_img">
                <!-- 사진업로드 -->
                <!-- input태그에서 type을 file로 하면  파일업로드 가능하고
                  accept를 image/*로 하면 이미지 업로드만 가능하다-->
                <br>
                <br>
                <h3>사진 업로드</h3>
                <input type="file" class="purchase_img_input" accept="image/*" required multiple value="{{purImgs}}">
                <div class="purchase_img_upload"></div>
                <ul class="purchase_img_view">{{purImgs}}</ul>
                <br>
            </div>

            <div>
                <h3><label for="purchase_price" id="purchase_wanted_title">제목</label>
                    <input type="text" id="purchase_title" value="{{purTitle}}">
                </h3>
            </div>
            <br>
            <div>
                <h3><label for="purchase_price" id="purchase_wanted_writer">저자</label>
                    <input type="text" id="purchase_writer" value="{{purAuthor}}">
                </h3>
            </div>
            <br>
            <div>
                <h3><label for="purchase_price" id="purchase_wanted_writer">출판사</label>
                    <input type="text" id="purchase_writer" value="{{purPuB}}">
                </h3>
            </div>
            <br>
            <div>
                <h3><label for="purchase_pub_date">출판년월일</label>
                    <input type="date" id="purchase_pub_date" value="{{purPubDate}}">
                </h3>
            </div>
            <br>
            <div>
                <h3><label for="book_grade">책 등급</label>
                    <select id="book_grade" value="{{purBookCondition}}" required>
                        <option value="최상급">최상급</option>
                        <option value="상급">상급</option>
                        <option value="중급">중급</option>
                        <option value="하급">하급</option>
                        <option value={{purBookCondition}} selected hidden>{{purBookCondition}}</option>
                    </select>
                </h3>
                <button class="book_detail_s_btn"><a href="..//project1/p1_needs_info_book_grade.html">책 상태 설명
                    참고(등급기준)</a></button>
                <br>
                <br>
                <a href="..//project1/p1_needs_info_book_grade.html">책 등급 설명 참고(등급기준)</a>
                <br>

                <textarea cols="100" rows="30" value="{{purBookDetail}}">{{purBookDetail}}</textarea>

            </div>

            <br>
            <div>
                <h3><label for="purchase_price" id="purchase_wanted_price">원하는 가격 수정</label>
                    <input type="text" id="purchase_price" value="{{purReqPrice}}"><span>원</span>
                </h3>
            </div>
            <div>
                <a href="/purchase/{{d}}"><button type="button" class="purchase_btn_2">돌아가기</button></a>
            </div>

            <br>
        {{/purchaseItem}}
        <div>
            <button type="submit" id="purchase_btn3"> 수정신청하기</button>
        </div>
    </form>
</div>

<!-- 사진업로드 -->
<script>
    function getImageFiles(e) {
      const uploadFiles = [];
      const files = e.currentTarget.files;
      const imagePreview = document.querySelector('.purchase_img_view');
      const docFrag = new DocumentFragment();

      if ([...files].length >= 7) {
        alert('이미지는 한번에 6개만 업로드가 가능합니다. 가급적 각 사항마다 하나만 올려주세요.');
        return;
      }

      // 파일 타입 검사
      [...files].forEach(file => {
        if (!file.type.match("image/.*")) {
          alert('이미지 파일만 업로드가 가능합니다.');
          return
        }

        // 파일 갯수 검사
        if ([...files].length < 7) {
          uploadFiles.push(file);
          const reader = new FileReader();
          reader.onload = (e) => {
            const preview = createElement(e, file);
            imagePreview.appendChild(preview);
          };
          reader.readAsDataURL(file);
        }
      });
    }

    function createElement(e, file) {
      const li = document.createElement('li');
      const img = document.createElement('img');
      img.setAttribute('src', e.target.result);
      img.setAttribute('data-file', file.name);
      li.appendChild(img);

      return li;
    }

    const realUpload = document.querySelector('.purchase_img_input');
    const upload = document.querySelector('.purchase_img_upload');

    upload.addEventListener('click', () => realUpload.click());

    realUpload.addEventListener('change', getImageFiles);
</script>

</body>

</html>