<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이벤트 메인</title>
    <style>
        body {
            background-color: white;
        }

        #event_1 {
            position: absolute;
            position: absolute;
            top: 240px;
            left: 600px;
        }

        a {
            text-decoration: none;
            color: black;


        }

        #event_2 {
            position: absolute;
            top: 290px;
            left: 600px;
        }

        #event_p {
            height: 100px;
            background-color:  rgb(0, 128, 255);
            font-size: 20px;
            color: white;
            text-align: center;
        }

        #event_2_p {
            width: 160px;
            height: 100px;
            border-bottom: 1px solid  rgb(0, 128, 255);
            background-color:  rgb(0, 128, 255);
        }



        .event_2_1 {
            width: 160px;
            height: 40px;
            border-bottom: 1px solid  rgb(0, 128, 255);
            padding: 20px 0 0 0;
        }

        .event_anno {
            position: absolute;
            top: 290px;
            left: 800px;
            border-top: 1px solid  rgb(0, 128, 255);
        }

        .event_anno_li {
            width: 600px;
            height: 50px;
            border-bottom: 1px solid  rgb(0, 128, 255);
            padding: 10px;
            font-weight: bold;
        }
    </style>
</head>

<body>

<div id="event_1">
    <a href="..//project1/p1_mainPAGE.html">홈</a> >
    <a href="/event">이벤트</a> >
    <a href="/event2">이벤트2</a>
</div>

<div id="event_2">
    <div id="event_p">
        <br>
        <p>이 벤 트</p>
    </div>
    <div class="event_2_1">
        <a href="/event">이벤트 공지</a>
    </div>
    <div class="event_2_1">
        <a href="#">이벤트 응모</a>
    </div>
    <div class="event_2_1">
        <a href="/eventPrize">이벤트 당첨 발표</a>
    </div>

</div>

<div class="event_anno">
    <img src="/eventImg/event_2.png" width="800" height="1200">

</div>



</body>

</html>

{{>layouts/footer_4}}